.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    width:70px;
    top:55px;
    background-color: white;
    
    
}

.home-icon,.explore-icon,.sub-icon,.original-icon,.music-icon,.library-icon{
    height:25px;
}
.sidbar-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 74px;
    cursor: pointer;
    transition: 0.3s;
}
.sidbar-container img{
    height:25px;
    margin-bottom: 5px;
}
.sidbar-container:hover{
    background-color: lightgray;
}
.sidbar-container div{
    font-size:10px;
    font-family:Roboto,Arial;

}